.body {
  font-family: Calibri, Optima, Candara, Verdana, Geneva, sans-serif;
}
.App {
  text-align: center;
}


/*
 * Specific classNames
 */

.brded {
  border-color: var(--border-clr);
}

.logoimg {
  border-radius: 50%;

}

.logoimgdiv {
  border-radius: 50%;

  border: 3px solid var(--border-clr);
}

.navb {
  position: fixed;
  width: 100%;
  border: 2px solid var(--border-clr);
  border-radius: 12px;
}

.invert-img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

/*
 * Generic classNames for divs and containers
 */ 

.form {
  border-width: 3px;
  border-style: solid;
  border-radius: 15px;

  padding: 1%;
  
  position: absolute;
  width: 65%;
  height: 55%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

/*
 * Arrow and its specifix animations
 */

.arrow-down {
  width:60px;
  height:40px;
  margin:0 0 0 -30px;
  position:absolute;
  left:calc(50% + 10px);
  bottom:0px;
  animation: arrow 0.5s 1s infinite ease-out alternate;
}

.arrow-down:hover {
   animation-play-state: paused;
}

.left {
  position:absolute;
  height:10px;
  width:40px;
  background:var(--border-clr);
  transform:rotate(240deg);
  top:10px;
  left:10px;
  border-radius:4px;
  transform-origin:5px 50%;
  animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right {
  position:absolute;
  height:10px;
  width:40px;
  background:var(--border-clr);
  transform:rotate(-60deg);
  top:10px;
  left:10px;
  border-radius:4px;
  transform-origin:5px 50%;
  animation: rightArrow 0.5s 1s infinite ease-out alternate;
}

@keyframes arrow {
  0% {
    bottom:25%;
  }
  100%{
    bottom:50%;
  }
}

@keyframes leftArrow {
  0% {
  }
  100%{
    transform:rotate(225deg);
  }
}

@keyframes rightArrow {
  0% {
  }
  100%{
    transform:rotate(-45deg);
  }
}
